@import url('https://fonts.googleapis.com/css?family=Lobster|Tinos');

.projects-container {
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.projects-content {
    text-align: center;
    font-family: Lobster, cursive;
}
.cover {
    height: 22.5rem !important;
}
.booklet-current-left,
.booklet-current-right,
.booklet-next-left,
.booklet-next-right,
.booklet-previous-left,
.booklet-previous-right,
.booklet-container {
    height: 22rem !important;
}
.booklet-current-right,
.booklet-previous-right,
.booklet-next-right,
.booklet-current-left,
.booklet-previous-left,
.booklet-next-left {
    overflow: scroll;
}

.projects-info {
    font-size: 1.6em;
}
