p {
    font-size: 1.6em;
}
h2,
h3,
h4 {
    font-family: 'Lobster', cursive !important;
    color: black !important;
}

.autocomplete-input,
.valuedisplay-container {
    width: 350px !important;
}
@media (max-width: 1100px) {
    .next-button,
    .prev-button {
        top: 5% !important;
    }
}
